*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 600px;
    height: 500px;
    position: relative;
}

.content{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: 1.2s;
    opacity: 0;
    background-position: center;
    background-attachment: fixed;
}

.content1{
    background-image: url(images/back1.jpg);
    opacity: 1;
}

.content2{
    background-image: url(images/back2.jpg);
}

.content3{
    background-image: url(images/back3.jpg);
}

.content4{
    background-image: url(images/back4.jpg);
}

.content5{
    background-image: url(images/back5.jpg);
}


